.custom-card-color {
    background-color: #dfc4c4;
  }
.color{
    background-color: #e2baba !important;
  }
.btn-color{
    background-color: #c99999 !important;
}
.badge{
    background-color: #a59393;
}